.idea
.vscode
.claude/settings.local.json

downloads
histroy
log
build
ffmpeg.exe
video.db
go_video
go_video.exe
install_cert
install_cert.exe
uninstall_cert
uninstall_cert.exe
config.json
ca.crt
ca.key
key.pem

web/node_modules
web/dist